.health-card-container{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4,auto);
    column-gap: 5px;
    .card{
        display: flex;
        flex-direction: column;
        &.selected{
            border: 2px solid #84BF5A;
        }
        &__dot{
            &.hidden{
                border: none;
            }
            width: 15px;
            height: 15px;
            border: 1px solid;
            border-radius: 50%;
            display:flex;
            align-self: flex-end;
            img{
                width: 18px;
                height: 18px;
            }
        };
        &__title{
            font-size: 0.6rem;
        };
        &__rate{
            font-size: 1.2rem;
        };
        &__period{
            font-size: 0.6rem;
        };
    }
}